<!doctype html>
<html>
<head>
    <title>Campgrounds</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">
    <script src="/js/jquery/jquery.js" type="application/javascript"></script>
    <script src="/js/bootstrap/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>
<div id="landing-header">
    <h1>Welcome to Campgrounds</h1>
    <a href="/campgrounds" class="btn btn-lg btn-success">Get Started</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include("partials/footer"); %>
