<%- include("../partials/header") %>
<main class="row justify-content-center form">
    <div class="col-md-12">
        <h1 class=" text-center">Add a New Campground</h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <form action="/campgrounds" method="post">
            <div class="form-floating">
                <input id="name" class="form-control form-top-element" type="text" placeholder="Name" name="name" required>
                <label for="name">Name</label>
            </div>
            <div class="form-floating">
                <input id="image" type="url" class="form-control form-mid-element" placeholder="Image URL" name="image" required>
                <label for="image">Image URL</label>
            </div>
            <div class="form-floating">
                <input id="description" type="text" class="form-control form-bottom-element" name="description" placeholder="Description"
                       required>
                <label for="description">Description</label>
            </div>
            <button class="w-50 btn btn-lg btn-primary mb-5" type="submit">Submit</button>
        </form>
        <a href="/campgrounds" class="link-secondary">Go back</a>
    </div>
</main>
<%- include("../partials/footer") %>
