html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.delete-btn {
    display: inline;
}

.form {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.login-signup-form {
    max-width: 330px;
}

.form-top-element {
    margin-top: 10px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-mid-element {
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 0;
}

.form-bottom-element {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form .form-floating:focus-within {
    z-index: 2;
}

.btn-warning {
    color: white;
}

.form-single-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-box {
    width: 30%;
}
